In [1]:
import pandas as pd

Cargar datos

In [2]:
# Importamos el dataset de los datos de los pokemon
df = pd.read_csv('dataset_final.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [3]:
'''
1. ¿Cuántos pokémon hay en el dataset?
'''   
df.shape[0]     #800

800

In [4]:
'''
2. ¿Cuántos pokémon hay de tipo Poison? (Type 1)
'''
df[df['Type 1'] == 'Poison'].shape[0]   #28

28

In [5]:
'''
3. ¿Cuántos tipos diferentes de pokémon hay? (Type 1)
'''
len(list(df.groupby('Type 1')))     #18

18

In [6]:
'''
2. ¿Cuántos pokémon hay de cada tipo? (Type 1)
'''
df.groupby('Type 1')['Name'].count()
'''
2.1 ¿Cuál es el tipo de pokémon con más pokémon? (Type 1)
'''
df.groupby('Type 1')['Name'].count().sort_values(ascending=False)    #Water

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Ground       32
Dragon       32
Dark         31
Poison       28
Fighting     27
Steel        27
Ice          24
Fairy        17
Flying        4
Name: Name, dtype: int64

In [7]:
'''
3. ¿Cuál es el pokémon más rápido?
'''
df.sort_values('Speed', ascending=False)    #DeoxysSpeed Forme

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
431,386,DeoxysSpeed Forme,Psychic,NaN,600,50,95,90,95,90,180,3,True
315,291,Ninjask,Bug,Flying,456,61,90,45,50,50,160,3,False
428,386,DeoxysNormal Forme,Psychic,NaN,600,50,150,50,150,50,150,3,True
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,590,55,50,65,175,95,150,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,597,Ferroseed,Grass,Steel,305,44,50,91,24,86,10,5,False
486,438,Bonsly,Rock,NaN,290,50,80,95,10,45,10,4,False
359,328,Trapinch,Ground,NaN,290,45,100,45,45,45,10,3,False
230,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False
495,446,Munchlax,Normal,NaN,390,135,85,40,40,85,5,4,False

In [8]:
'''
4. ¿Cuántos pokemon tienen una defensa superior a 100?
'''
df[df['Defense'] > 100].shape[0]    #123

123

In [9]:
'''
5. ¿Cuántos pokemon tienen una defensa superior a 100 y una velocidad superior a 100?
'''
high_defense = df['Defense'] > 100
high_speed = df['Speed'] > 100
df[high_defense & high_speed].shape[0]   #9

9

In [10]:
'''
6. Ordena el dataset por el tipo 1 y por el tipo 2
'''
df.sort_values(['Type 1', 'Type 2'])

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
656,595,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False
657,596,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False
231,214,Heracross,Bug,Fighting,500,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,600,80,185,115,40,105,75,2,False
697,636,Larvesta,Bug,Fire,360,55,85,55,50,55,60,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,594,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False
724,656,Froakie,Water,NaN,314,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False

In [11]:
'''
7. Crea un nuevo dataset con los pokémon de tipo Water y Fire como primer tipo
'''
water = df[df['Type 1'] == 'Water']
fire = df[df['Type 1'] == 'Fire']
df2 = pd.concat([water, fire])
df2.shape[0]

164

In [12]:
'''
8. Crea un nuevo dataset con los pokemon Legendary
'''
df3 = df[df['Legendary'] == True]
df3

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [13]:
'''
9. Calcula el promedio de stats de los pokemon Legendary (HP, Attack, Defense, Sp. Atk, Sp. Def, Speed) y los no Legendary
'''
legen = df[df['Legendary'] == True].describe().loc['mean'][['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]
no_legen = df[df['Legendary'] == False].describe().loc['mean'][['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']]

print('Mean Stats Legendary\n', legen, '\n\nMean Stats No Legendary\n', no_legen)

Mean Stats Legendary
 HP          92.738462
Attack     116.676923
Defense     99.661538
Sp. Atk    122.184615
Sp. Def    105.938462
Speed      100.184615
Name: mean, dtype: float64

Mean Stats No Legendary
 HP         67.182313
Attack     75.669388
Defense    71.559184
Sp. Atk    68.454422
Sp. Def    68.892517
Speed      65.455782
Name: mean, dtype: float64

In [14]:
'''
10. Crea un nuevo dataframe con el resultado del anterior ejercicio comparando ambos promedios

ejemplo:
                HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
Legendary       99      90       89       91       94     90
No Legendary    80      95       75       12       43     87

'''
data = [pd.array(legen), pd.array(no_legen)]
df_stats = pd.DataFrame(data, columns=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed'], index=['Legendary', 'No Legendary'])
df_stats

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
Legendary,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615
No Legendary,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782

In [15]:
'''
11. Añade una nueva colunma ['Doble tipo'] al dataframe inicial que indique si el pokemon tiene dos tipos o no
'''
df['Dual Type'] = df['Type 1'].notna() & df['Type 2'].notna()
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Dual Type
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,True
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,True
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,True
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,True
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,True

In [16]:
'''
12. Muestra las columas Name, Type 1, Type 2 de los pokémon que tienen dos tipos y ordenalos por Type 1, Type 2 y Name
'''
df.loc[df['Dual Type'] == True, ['Name', 'Type 1', 'Type 2']].sort_values(['Type 1', 'Type 2', 'Name'])

                        Name Type 1    Type 2
657               Galvantula    Bug  Electric
656                   Joltik    Bug  Electric
231                Heracross    Bug  Fighting
232  HeracrossMega Heracross    Bug  Fighting
697                 Larvesta    Bug      Fire
..                       ...    ...       ...
626               Carracosta  Water      Rock
240                  Corsola  Water      Rock
404                Relicanth  Water      Rock
625                 Tirtouga  Water      Rock
440                 Empoleon  Water     Steel

[414 rows x 3 columns]

In [17]:
from functools import reduce

'''
13. Dada una lista de Artículos con sus precio. Define las siguientes funciones:
Puedes definir más funciones si lo consideras necesario.
'''
articulos = {
    'Camisa': 20,
    'Pantalón': 30,
    'Calcetines': 5,
    'Zapatos': 50,
    'Gorra': 10,
    'Bufanda': 15,
    'Gafas': 25,
    'Reloj': 35,
    'Corbata': 40,
}

compra = ['Camisa', 'Pantalón', 'Pantalón', 'Gorra', 'Gafas', 'Corbata']


# A. Una función que calcule el precio total de la compra                      
shop_prices = [articulos[compra[i]] for i in range(len(compra))]    #Devuelve una lista con el precio de todos los artículos de la lista compra
addition = lambda x, y: x + y                                       #Devuelve la suma de dos o más elementos

total = reduce(addition, shop_prices)                               #Calcula el precio total de la compra                   

# B. Una función que calcule el precio total de la compra con un descuento del 10%
total_discount = reduce(addition, list(map(lambda x: x - x * 0.1, shop_prices)))

# C. Una función que calcule el precio total de la compra con un descuento del 10% si la compra supera los 100€
filter_disc = lambda x: x - x * 0.1 if x > 100 else x           #Filtra una cantidad: si es mayor a 100, le aplica un 10% de descuento

total_disc_filtered = filter_disc(total)                        #Calcula el precio de la compra con el descuento si esta supera los 100€

# D. Una función que calcule el precio total aplicando el IVA (21%)
total_iva = reduce(addition, list(map(lambda x: x + x * 0.21, shop_prices)))

# E. Una función que liste los artículos cuyo precio es superior a 20€
high_prices = [key for key, value in articulos.items() if value > 20]

print('Total: ', total, '\nTotal con descuento: ', total_discount, '\nTotal con descuento condicional: ', total_disc_filtered, '\nTotal con IVA: ', 
round(total_iva, 2), '\nArtículos más caros: ', high_prices)

Total:  155
Total con descuento:  139.5
Total con descuento condicional:  139.5
Total con IVA:  187.55
Artículos más caros:  ['Pantalón', 'Zapatos', 'Gafas', 'Reloj', 'Corbata']

In [18]:
'''
14. Dada una lista de tuplas con el nombre de un alumno, apellidos, curso y sus notas. 

 Define una funcion que reciba el curso y saque una lista en la que aparezca el nombre y apellidos y el promedio de sus notas.
 Puedes definir más funciones si lo consideras necesario.
'''

alumnos = [('Juan', 'Pérez', '1', [2, 6, 7, 8, 9]),
            ('Ana', 'García', '2', [5, 6, 7, 7, 7]),
            ('Luis', 'González', '1', [3, 6, 7, 8, 9]),
            ('María', 'Martínez', '2', [5, 5, 7, 8, 9]),
            ('Pedro', 'Rodríguez', '1', [5, 6, 3, 8, 9]),
            ('Lucía', 'Hernández', '2', [5, 6, 4, 8, 9.5]),
            ('Marta', 'López', '1', [5, 6, 7, 8, 10]),
            ('Sara', 'Díaz', '2', [5, 5.5, 7, 7, 9]),
            ('Javier', 'Sánchez', '1', [5, 6, 7, 8, 9]),
            ('Miguel', 'Fernández', '2', [3.4, 6, 7, 8, 9]),
            ('Sergio', 'Jiménez', '1', [1, 6, 6, 8, 9]),
            ('Sandra', 'Ruiz', '2', [5, 6, 10, 8, 10]),
            ('Pablo', 'Álvarez', '1', [10, 6, 1, 8, 9]),
            ('María', 'Gómez', '2', [5, 2, 7, 9.9, 9]),
]

#Función que calcula la media de una lista de elementos
average = lambda l: reduce(lambda x, y: x + y, l)/len(l)

#Función que recibe una lista de alumnos y devuelve otra lista con los nombres, apellidos y medias
students = lambda x: [x[0], x[1], average(x[3])]

#Función que filtra la lista de alumnos en función de la variable course y devuelve la lista de alumnos que están en dicho curso
course = '1'
filter_students = list(filter(lambda alumnos: course in alumnos, [alumnos[i] for i in range(len(alumnos))]))

#Mapeo la lista de alumnos filtrados y, con la función students, obtengo su media junto con sus datos
list(map(students, filter_students))

[['Juan', 'Pérez', 6.4],
 ['Luis', 'González', 6.6],
 ['Pedro', 'Rodríguez', 6.2],
 ['Marta', 'López', 7.2],
 ['Javier', 'Sánchez', 7.0],
 ['Sergio', 'Jiménez', 6.0],
 ['Pablo', 'Álvarez', 6.8]]